* {
    margin: 0;
    padding: 0;
}

/* The background and its' animations */
#sky {
    position: relative;
    height: 70vh;
    width: 60vw;
    margin: 15vh 20vw;
    animation: nightAndDay 10s linear infinite;
    overflow: hidden;
}

@keyframes nightAndDay {
    0%, 100% {
        background: #D88090;
    }

    25% {
        background: #111111;
    }

    50% {
        background: rgb(253, 216, 164);
    }

    75% {
        background: rgb(140, 186, 233);
    }

}

/* Building the mountains */

#mountainOne {
    position: absolute;
    height: 48vh;
    width: 48vh;
    background: black;
    z-index: 10;
    bottom: -35%;
    left: 20vw;
    transform: rotate(45deg);
}

#mountainTwo {
    position: absolute;
    height: 30vh;
    width: 30vh;
    background: black;
    z-index: 10;
    bottom: -23%;
    left: 9vw;
    transform: rotate(45deg);
}

#mountainThree {
    position: absolute;
    height: 25vh;
    width: 25vh;
    background: black;
    z-index: 10;
    bottom: -22%;
    left: 37vw;
    transform: rotate(45deg);
}

/* Mountain responsivity */
@media screen and (max-aspect-ratio: 1/1) {
    #mountainOne {
        height: 48%;
        width: 48%;
        bottom: -38%;
        left: -22%;
    }

    #mountainTwo {
        height: 30vh;
        width: 30vh;
        bottom: -33%;
        left: 9%;
    }

    #mountainThree {
        height: 25vh;
        width: 25vh;
        bottom: -30%;
        left: 42%;
    }
}
/* The sun and its' animations */

#sun {
    position: absolute;
    height: 10vh;
    width: 10vh;
    background: whitesmoke;
    border-radius: 50%;
    left: 25vw;
    bottom: -5vh;
    animation: sunSetAndRise 10s infinite;
    animation-timing-function: linear;
    filter: drop-shadow(0 0 1rem #fffb9f);
}
@keyframes sunSetAndRise {
    from { transform: rotate(0deg) translateX(25vw) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(25vw) rotate(-360deg); }
}

/* The moon and its' animations */
#moon {
    z-index: 200;
    position: absolute;
    height: 10vh;
    width: 10vh;
    background: #afafaf;
    border-radius: 50%;
    right: 5vw;
    filter: drop-shadow(0 0 1rem #fbfbfb);
    animation: moonDrop 10s infinite;
}

#craterOne {
    z-index: 201;
    position: relative;
    border: solid 2px #888888;
    border-bottom: none;
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    left: 45%;
    top: 15%;
}

#craterTwo {
    z-index: 201;
    position: relative;
    border: solid 2px #888888;
    border-left: none;
    border-top: solid 1px;
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    left: 55%;
    top: 10%;
}

#craterThree {
    z-index: 201;
    position: relative;
    border: solid 1px #888888;
    border-left: none;
    border-top: solid 1px;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    left: 35%;
    top: 5%;
}

@keyframes moonDrop {
    0%, 15%, 35%, 100% {
        top: -20vh;
    }

    24%, 26% {
        top: 20vh;
    }
}

/* Starry sky */
#stars {
    position: relative;
    animation: starLight 10s infinite linear;
}

#starColOne, 
#starColTwo {
    width: 20%;
    height: 100%;
    position: absolute
}

#starColTwo {
    transform: rotate(170deg);
    top: -79%;
    left: 72%;
}

.starRow {
    position: relative;
}

.starRowTwo {
    left: 100%;
    top: 10%;
    transform: rotate(60deg);
}

.starRowThree {
    left: 200%; 
    top: 30%;
    transform: rotate(170deg);
}

.starRowFour {
    left: 300%;
    transform: rotate(-60deg);
    top: 10%;
}

.starRowFive {
    left: 400%;
    top: 20%;
    transform: rotate(100deg);
}

/* Individual stars */
.starOne {
    position: absolute;
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    background: white;
    top: 2vh;
}

.starTwo {
    position: absolute;
    height: 0.5vh;
    width: 0.5vh;
    border-radius: 50%;
    background: white;
    top: 6vh;
    left: 10%;
}

.starThree {
    position: absolute;
    height: 0.75vh;
    width: 0.75vh;
    border-radius: 50%;
    background: white;
    top: 3vh;
    left: 60%;
}

.starFour {
    position: absolute;
    height: 1vh;
    width: 1vh;
    border-radius: 50%;
    background: white;
    top: 12vh;
    left: 85%;
}

.starFive {
    position: absolute;
    height: 0.5vh;
    width: 0.5vh;
    border-radius: 50%;
    background: white;
    top: 1vh;
    left: 95%;
}

.starSix {
    position: absolute;
    height: 0.6vh;
    width: 0.6vh;
    border-radius: 50%;
    background: white;
    top: 7vh;
    left: 26%;
}


/* Star animation */
@keyframes starLight {
    0%, 45%, 100% {
        opacity: 0%;
        filter: drop-shadow(0 0 0 white);
    }

    18%, 25% {
        opacity: 30%;
        filter: drop-shadow(0 0 0.3rem white);
    }
}

/* Cloud formation */
.cloud {
    z-index: 200;
    position: absolute; 
    height: 3vh;
    width: 10vw;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4)
}

#cloudOne {
    top: 10vh;
    left: 20vw;
}

#cloudTwo {
    top: 5vh;
    left: 10vw;
}

#cloudThree {
    top: 15vh;
    left: 15vw;
}

#cloudFormation {
    position: relative;
    animation: cloudMovement 10s infinite;
}

@keyframes cloudMovement {
    0%, 58%, 90%, 100% {
        left: -40vw;
    }

    72%, 75% {
        left: 5vw;
    }
}